.container {
  display: flex;
  height: 100%;
}

.left__div {
  background: white;
  height: 100vh;
  flex: 2;
  padding: 2rem 3rem;
  overflow: scroll;
  .title {
    margin: 2.5vw 1.5vw 0.5vw 1vw;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    white-space: nowrap;
    overflow: hidden;
    width: 19em;
    transform: translateY(-50%);
    font-weight: 800;
  }
  h2 {
    margin: 0.5vw 1.5vw;
  }
  h3 {
    margin: 1.5vw 1.5vw;
    font-size: calc(12px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 300;
  }
  h4 {
    padding-left: 0.5rem;
  }
  p {
    font-size: 0.9rem;
    padding-left: 0.5rem;
  }
  .typewriter {
    animation: typewriter 3.5s steps(44) 1s 1 normal both,
      blinkTextCursor 600ms steps(44) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 15.4em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(7, 6, 6, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .project-details_image {
    width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.4);
  }

  .project-details_header {
    text-align: center;
    padding: 3%;
  }

  .project-details_info {
    margin: 6% 0;
    text-align: center;
    padding: 0 10%;
    line-height: 1.5;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .button {
    border: 1px solid black;
    margin: 0 10px;
    padding: 6px;
    background-color: #ffffff;
    text-decoration: none;
    display: inline-block;
    color: initial;
  }

  .button:hover {
    background: #26a69a;
    color: white;
  }
}

.right__div {
  background: black;
  color: white;
  height: 100vh;
  flex: 1;
  padding: 2rem 2rem;
  overflow: hidden;
}

.projects__title {
  padding: 1rem 0;
}

@media screen and (min-width: 1500px) {
  .left__div {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    flex-direction: column;
  }

  .left__div {
    width: auto;
    height: auto;

    h4 {
      padding: 0.5rem 0;
    }
    p {
      padding: 0.5rem 0 0.75rem 0;
    }

    .project-details_header {
      margin: 1.5em 0;
    }

    .project-details_info {
      margin: 2em;
      padding: 0.5em;
    }

    .projects-row_info {
      padding: 0 0 4rem 0;
    }
  }

  .right__div {
    overflow: visible;
    height: 100%;
  }
}
