.projects-grid {
  margin: 0.5vw 0 3vw 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  div {
    flex: auto;
    width: 200px;
    margin: 0.5vw 1vw;
    padding-bottom: 1vw;
  }
  img {
    width: 100%;
    height: auto;
    margin-left: 0.5vw;
    transition: all 0.6s ease;
    border: 1px solid #444343;
  }
  img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.4);
  }
  h3 {
    margin: 0;
    padding-left: 0;
  }
  p {
    color: #a5a5a5;
    font-weight: 300;
    line-height: 1.6;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1500px) {
  .projects-grid {
    div {
      flex: auto;
      width: 250px;
      margin: 0.5vw 1vw;
      padding-bottom: 1vw;
    }
  }
}

@media screen and (max-width: 400px) {
  .projects-grid {
    padding: 0;
    div {
      margin: 0;
    }
  }
}
